body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
  opacity: 0.9;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  color: seashell;
}

.logo {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
}

nav {
  display: block;
  text-align: right;
  flex-grow: 1;
  padding-right: 10px;
}

nav span {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: underline;
  color: seashell;
}

div {
  display: block;
}

.main {
  width: 1200px;
  margin: auto;
  flex-shrink: 1;
}

.mission {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 62px;
}

.mission .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  padding-top: 70px;
  width: 1200px;
}

.mission .text-content {
  margin-top: 250px;
  background-color: black;
}

h2, h3, h4
 {
  display: block;
  padding: 10px;
  margin: 0;
}

.tea {
  display: block;
  width: 1000px;
  margin: auto;
}

.tea .title {
  padding-top: 50px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item img {
  width: 300px;
  height: 200px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.locations.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  padding-top: 75px;
  margin-top: 50px;
  height: 500px;
}

.location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.location .text-content {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
  background-color: black;
}

.location .text-content p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.location .text-content h3 {
  padding-top: 20px;
}

.info {
  height: 200px;
}

.copyright {
  text-align: left;
  padding-left: 20px;
}
